@import url('https://fonts.googleapis.com/css2?family=Dhurjati&display=swap');

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  width: 100%;
  height: 100vh;
  color: green;
}

.container{
  background-color: antiquewhite;
  text-align: center;
}
.container h1{
  font-weight: 600;
}

.editer{
  background-color: rgb(40, 40, 110);
  text-align: start;
  display: flex;
  padding: 1rem;
}
.left, .right{
  flex-basis: 50%;
  padding: 10px;
}
label{
  display: flex;
  align-items: center;
  font-size: 18px;
}
label i{
  padding-right: 5px;
}
textarea{
  width: 100%;
  height: 300px;
  background: blueviolet;
  border: 0;
  outline: 0;
  font-size: 18px;
  padding: 10px 20px;
  color: aliceblue;
}
iframe{
  width: 100%;
  height: 95%;
  background: white;
  border: 0;
  outline: 0;

}